var filters = {
  toNumber: function (str) {
    return Number(str)
  },

  formatAddress: function(str){
    if(!str) return '线上活动'
    var result = str;
    if(str.length>9){
      result = str.substring(0,8)+'***'
    }
    return result
  }
}
module.exports = {
  toNumber: filters.toNumber,
  formatAddress: filters.formatAddress
}